################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/advanced-computer-architecture-lab/v16
*.json
